@font-face {
  font-family: Avenir;
  src: url("../fonts-family/AvenirLTStd-Black.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url("../fonts-family/AvenirLTStd-Roman.otf");
  font-weight: normal;
  font-style: normal;
}
