.list {
  padding-inline: 1.5rem;
}

.list-title {
  font: var(--baseFont);
  color: var(--gray10);
  margin-block-end: 0.5rem;
  margin-block-start: 0;
}

.list-content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item a {
  font: var(--baseFontBold);
  transition: color 0.2s;
}

@supports not (backdrop-filter: blur(8px)) {
  .list {
    margin-bottom: 1.5rem;
  }
}
@supports not (backdrop-filter: blur(8px)) {
  .list-title {
    margin: 0 1rem;
  }
}
@supports not (backdrop-filter: blur(8px)) {
  .list-content {
    margin: 0 1rem 1rem;
  }
}
@supports not (backdrop-filter: blur(8px)) {
  .list-item {
    margin: 0.2rem 0;
  }
}
