@import "./menu-item.css";

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@supports not (backdrop-filter: blur(8px)) {
  .menu-list {
    margin-bottom: 2rem;
  }
}
@supports not (backdrop-filter: blur(8px)) {
  .menu-list a {
    padding-left: 1.5rem;
  }
}
@supports not (backdrop-filter: blur(8px)) {
  .menu-list a i {
    padding-right: 0.5rem;
  }
}
