.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.navigation-buttons-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.navigation button {
  border: none;
  /* border: 1px solid red; */
  inline-size: 1.85rem;
  block-size: 1.85rem;
  border-radius: 50%;
  background: var(--gray60);
  color: var(--gray10);
}

.navigation-prev i {
  position: relative;
  left: -1.5px;
  top: 1px;
}
.navigation-next i {
  position: relative;
  left: 2px;
}

@supports not (backdrop-filter: blur(8px)) {
  .navigation-prev {
    margin-right: 0.5rem;
  }
}
