@import "./playlist-list.css";
@import "./search.css";
@import "./navigation.css";
@import "./header.css";
@import "./sticky.css";

.page {
  padding: 0 2rem 2rem;
}

.page-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page .header {
  margin-block-end: 1rem;
}

.page .header {
  margin-block-end: 1rem;
  margin-inline-start: -1.5rem;
  margin-inline-end: -2rem;
  /* margin: 0 -1.5rem 1rem; */
}
