.playlistA {
  font-size: 14px;
  padding: 1rem;
  inline-size: 13em;
  border-radius: 0.25rem;
  background: var(--gray40);
  box-sizing: border-box;
  transition: 0.3s background;
  flex-shrink: 0;
}

.playlistA:hover,
.playlistA:focus-within {
  background: var(--gray30);
  cursor: pointer;
}

.playlistA:hover .playlistA-cover button,
.playlistA:focus-within .playlistA-cover button {
  opacity: 1;
  transform: translateY(0);
}

.playlistA-cover img {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 0.75rem;
  vertical-align: middle;
}

.playlistA-cover {
  position: relative;
  margin-bottom: 1rem;
}

.playlistA-cover button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  opacity: 0;
  transform: translateY(0.5rem);
  will-change: opacity, transform;
  transition: 0.3s opacity, 0.3s transform;
}

.playlist-title {
  color: var(--white);
  font: var(--baseFontBold);
  margin: 0;
  line-height: 22px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-description {
  color: var(--gray10);
  font: var(--baseFont);
  margin: 0;
  line-height: 22px;
}
