.search {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
}

.search i {
  position: absolute;
  font-size: 1rem;
  left: 0.5rem;
  top: calc(50% - 0.5rem);
  block-size: 1rem;
  color: var(--gray10);
}

.search:focus-within i {
  color: var(--gray30);
}

.search input {
  font: var(--baseFont);
  width: 100%;
  border: none;
  max-inline-size: 22rem;
  border-radius: 1.25rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray30);
}

.search input::-webkit-input-placeholder {
  color: var(--gray10);
}
