.layout-block {
  display: flex;
}
.footer-container {
  block-size: 5.5rem;
  background: #181818;
  flex: 1;
  display: flex;
}

.layout-main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
