.grid {
  /* background: red; */
  display: grid;
  grid-template-rows: calc(100vh - 5.5rem) 5.5rem;
  grid-template-columns: 15rem calc(100vw - 15rem);
  grid-template-areas:
    "sidebar main"
    "player player";
}

.player-container {
  grid-area: player;
}

.sidebar-container {
  grid-area: sidebar;
  overflow: auto;
}

.main-container {
  grid-area: main;
  overflow: auto;
}
